body{
  font-family: Arial, sans-serif;
  background:#111;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0;
}

h1{
  margin-top:40px;
}

.task-input{
  margin-top:20px;
  display:flex;
  gap:10px;
}

#taskInput{
  padding:10px;
  width:220px;
  border-radius:20px;
  border:none;
  outline:none;
}

#addBtn{
  background:#4CAF50;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:20px;
  cursor:pointer;
}

#addBtn:hover{
  background:#3d8f41;
}

ul{
  margin-top:20px;
  padding:0;
}

li{
  list-style:none;
  background:#222;
  padding:10px;
  margin:10px 0;
  width:300px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-radius:6px;
}

li span{
  flex:1;
  min-width:0;
  word-break:break-word;
  overflow-wrap:break-word;
}

.delete-btn{
  background:#ff4d4d;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:15px;
  cursor:pointer;
  margin-left:10px;
}

.delete-btn:hover{
  background:#e60000;
}

.completed{
  text-decoration: line-through;
  opacity:0.5;
}